<header class="z-50 fixed w-full flex justify-between bg-gradient-to-r from-zinc-800 bg-zinc-900 px-6 py-3">
  <!-- Logo -->
  <div class="flex items-center justify-center">
    <div class="flex items-center mx-auto">
      <img src="/assets/logo/space-ship.svg" class="w-7" alt="Astrolab" />
      <h1 class="text-blue-300 text-2xl px-2">Astrolab</h1>
    </div>
  </div>

  <!-- Menu Button -->
  <button class="text-slate-400 justify-self-end" (click)="onToggleNavOpen()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round"   stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>

  <!-- Hamburguer menu -->
  <div #mobileMenu class="z-50 absolute top-0 left-0 w-lvw h-lvh bg-zinc-800 opacity-90"
    [ngClass]="{'hidden': !isNavOpen()}" (click)="onToggleNavOpen()">
    <ul class="flex flex-col items-center justify-center h-full space-y-4 text-blue-200">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</header>