<div class="absolute w-full z-10 px-10 left-0 top-1/2 -translate-y-1/2 flex flex-col justify-center">
  <h1 class="py-4 text-4xl text-slate-300">Your Personal Astronomy Guide</h1>
  <p class="text-slate-400 text-lg"> Dive into the fascinating world of astronomy through interactive lessons,
    games, tools and
    articles.</p>
  <button
    class="mt-10 px-6 py-2 text-slate-300 hover:text-violet-400 font-semibold text-xl border-2 border-slate-300 hover:border-violet-400 rounded-md">Explore</button>
</div>

<!-- Background -->
<div class="absolute left-0 top-0 img-galaxy h-lvh w-lvw"></div>
<app-stars-background>